@import "tailwindcss";

@layer base {
  :root {
    --font-outfit: "Outfit", sans-serif;
    --font-reenie: "Reenie Beanie", cursive;
  }

  * {
    @apply antialiased;
  }

  html,
  body {
    background-color: #FDFCF8;
    color: #292524;
    overflow-x: hidden;
    font-family: var(--font-outfit);
  }

  body {
    position: relative;
  }

  body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='4' seed='2' /%3E%3C/filter%3E%3Crect width='100' height='100' filter='url(%23noise)' opacity='0.35'/%3E%3C/svg%3E");
    pointer-events: none;
    z-index: 50;
    mix-blend-mode: overlay;
    opacity: 0.35;
  }
}
